#txtPrincipal {
  text-shadow: rgb(194, 193, 193) 1px 0 5px;
}
#palabraMenu {
  text-shadow: #f38f3e 1px 0 10px;
}
#btnPrincipal {
  box-shadow: 0 0 10px #d34d4d;
}

/* Esta es la animación css para el contenedor tipo cinta, que desliza las imágenes */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 40s linear infinite; /* Para que nunca pare de deslizar, evitando huecos en blanco, etc.. */
  width: max-content;
}

.animate-scroll > div {
  margin-right: -8px; /* esta regla la ponemos para que las imágenes no estén pegadas */
}
